server:
  port: 5555
  servlet:
    context-path: /api

spring:
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  jpa:
    database: mysql
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      dialect: org.hibernate.dialect.MySQL5Dialect
  application:
    name: RMService
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  redis:
    database: 3
    host: ${REDIS_HOST}
    port: ${REDIS_PORT}
    jedis:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 1
  datasource:
    url: ${DB_MASTER_URL}
    username: ${DB_MASTER_USER}
    password: ${DB_MASTER_PWD}
    tomcat:
      max-active: 20
    dbcp2:
      validation-query: SELECT 1
      test-on-borrow: true
      time-between-eviction-runs-millis: 300000
      min-evictable-idle-time-millis: 1800000
      test-while-idle: true
      initial-size: 5
      min-idle: 3
      max-wait-millis: 30000
      num-tests-per-eviction-run: -1

rocketmq:
  nameServer: 127.0.0.1:9876
  producer:
    group: Hai